---
import Layout from "../layouts/Layout.astro";
// import {playlists,songs} from "@/pages/api/artists";
// import PlayListItemCard from "@/components/PlayListItemCard.astro"
import Greeting from "../components/Greeting.svelte";
import Playlists from "../components/Playlists";
import Footer from "@/components/Footer";
import NavBar from "@/components/NavBar";
---

<Layout title="Spotify clone">
  <div id="playlist-container" class="h-full flex flex-col rounded relative transition-all duration-300 ">

    <!-- <PageHeader/> -->
    <div class=" flex flex-col bg-gradient-to-b from-[#616270] to-[#121212] pb-1 ">
      <NavBar client:load  />

        <Greeting/>
        
    </div>
    
    <Playlists className="flex-1" client:load/>
    <Footer className="flex-shirk-0" />

  </div>
</Layout>

