---
import Search from "../icons/Search.astro";
import Home from "../icons/Home.astro";
import SideMenuItem from "./SideMenuItem.astro";
import Library from "./Library";

---

<nav id="aside-content" class="flex flex-col flex-1 gap-2">
  <div class="py-2 flex flex-col justify-center rounded-lg bg-[#121212]">
    <ul>
      <SideMenuItem href="/" >
        <Home  />
        <span class="responsive-hidden ">Inicio</span>
      </SideMenuItem>
      <SideMenuItem href="/" >
          <Search />
          <span class="responsive-hidden">Buscar</span>
      </SideMenuItem>
    </ul>
  </div>
  <!-- <LibraryMenu/> -->
  <div class="py-2  rounded-lg bg-[#121212] flex flex-1">
    <Library client:load transition:persist />
  </div>
</nav>
<script>
  const asideContent = document.getElementById("aside-content");
  const hiddenElements = Array.from(
    document.getElementsByClassName(
      "responsive-hidden"
    ) as HTMLCollectionOf<HTMLElement>
  );

  const resizeObserver = new ResizeObserver((element) => {
    element[0].contentRect.width < 100
      ? hiddenElements.forEach((e) => (e.style.display = "none"))
      : hiddenElements.forEach((e) => (e.style.display = "block"));
  });
  resizeObserver.observe(asideContent!);
</script>
