---
interface Props {
  href?: string;
  class?: string;
}
const { href} = Astro.props;
---

<li>
  <a 
    
    class={`${Astro.props.class} flex gap-x-2 fill-[#b3b3b3] text-[#b3b3b3] hover:text-white hover:fill-white py-3 px-5 font-bold font transition duration-300  flex-shrink-0  justify-start min-block-size:40px overflow-hidden`}
    href={href}
  >
    <slot/>
  </a>
</li>
